@import '../../scss/common';

.item-cell {
  background-color: #fff;
  @include flex(row, nowrap, space-between, center);
  height: 50px;
  padding: 0 31px 0 11px;
  font-size: 16px;
  color: #666666;


  .ic-b {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-width: 2px 2px 0 0;
    border-color: #8B8B8B;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  }
  .ic-a {
    @include flex(row, nowrap, flex-start, center);
    .nav-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      &.img_order {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/icon-norder.png);
      }
      &.img_accumulate {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/icon-ji-fen.png)
      }
      &.img_wallet {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/icon-qian-bao.png);
      }
      &.img_setting {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/icon-nsetting.png);
      }
      &.img_coupon {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/icon-coupons.png);
      }
    }
  }
  .ica-b {
    @include flex(row, nowrap, flex-start, center);
  }
}