.coupon-item-orange .citl-a,.coupon-item-orange .citl-b,.coupon-item-orange .citr-a {
  color: #FF7E00;
}
.citr-b, .cib-b {
  color: #999999;
}
.coupon-item-orange .cib-a {
  color: #5674F2;
}
.coupon-item-red .citl-a,.coupon-item-red .citl-b,.coupon-item-red .citr-a{
  color: #FF1111;
}

.cib-a {
  color: #FF7E00;
}
.coupon-item-grey .citl-a,.coupon-item-grey .citl-b,.coupon-item-grey .citr-a,.coupon-item-grey .citr-b,.coupon-item-grey .cib-a,.coupon-item-grey .cib-b {
  color: #CCCCCC;
}
.coupon-item-orange, .coupon-item-red, .coupon-item-grey {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 8px;
}
.ci-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}

.circle-top {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: #EBEBEB;
  top: -4px;
  left: 106px;
}
.circle-bottom {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: #F5F5F5;
  bottom: -4px;
  left: 106px;
}

.cit-left {
  width: 110px;
  text-align: center;
  padding: 13px 0;
  border-right: 2px dotted #EBEBEB;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.citl-a {
  font-size: 25px;
}
.citl-b {
  font-size: 14px;
}
.cit-right {
  padding: 13px 0;
  padding-left: 20px;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.citr-a {
  font-size: 18px;
}
.citr-b {
  font-size: 12px;
}
.ci-bottom {
  border-radius: 4px;
  height: 30px;
  background-color: #F5F5F5;
  padding: 0 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.cib-a {
  font-size: 12px;
}
.cib-b {
  font-size: 12px;
}