.choose-coupon {
  background-color: #EBEBEB;
  height: 100%;
}
.cc-top {
  height: 44px;
  background-color: #fff;
  font-size: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 35px;
}
.cc-top > div {
  height: 100%;
  line-height: 44px;
}
.cct-a {

}
.cct-b {

}
.cc-middle {
  padding: 10px 12px;
  background-color: #EBEBEB;
}
.cc-b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.ccb-left {
  font-size: 13px;
  color: #3190E8;
}
.ccb-right {
  font-size: 13px;
  color: #999999;
}
.zanwu {
  margin-top: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.zanwu-a {
  width: 59px;
  height: 100px;
}
.zanwu-b {
  font-size: 15px;
  color: #666666;
}
.cc-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.ccb-a {
  width: 176px;
  height: 41px;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #FF5000;
  border: none;
}
.ccb-b {
  font-size: 13px;
  color: #A3A3A3;
  margin-top: 15px;
}
.ccbb-a {
  color: #3190E8;
}
.ci-container {
  position: relative;
}
.ci-choosing {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 29px;
}