@import "../static/scss/common";

.pay-page-container {
  @extend .container-common;
  background-color: #F2F2F2;

  .top {
    height: 160px;
    box-sizing: border-box;
    padding: 15px 0;
    background-color: #fff;
    @include flex(column, nowrap, space-around, center);
  }
  .top-a {
    width: 100%;
    height: 80px;
    @include flex(row, nowrap, center, center);
  }
  .ta-img {
    height: 70px;
    width: 70px;
  }
  .top-b {
    font-size: 18px;
    color: #333;
  }

  .middle {
    margin-top: 10px;
    background-color: #fff;
  }
  .middle-top {
    @include flex(column, wrap, space-between, inherit);
    padding: 18px 10px;
  }
  .middle-top-a {
    font-size: 16px;
    color: #666666;
    line-height: 18px;
  }
  .middle-top-b {
    margin-top: 14px;
    @include flex(row, nowrap, space-between, inherit);
    font-size: 14px;
    color: #666666;
    padding-right: 55px;
  }

  .middle-top-c {
    @include flex(row, nowrap, flex-start, center);
    margin-top: 10px;
    font-size: 14px;
  }
  .equ-head {
    margin-right: 15px;
    color: #666666;
  }

  .equ-item {
    margin: 2px 10px 10px 0;
  }

  .middle-bottom {
    padding: 0 10px;
    height: 59px;
    line-height: 59px;
    border-top: 1px solid #DCDCDC;
    @include flex(row, nowrap, flex-start, center);
  }
  .price-head {
    font-size: 16px;
    line-height: 59px;
    color: #666666;
  }
  .price-body {
    font-size: 18px;
    color: #FF4E00;
    margin-left: 5px;
  }
  .bottom {
    margin-top: 10px;
  }
  .bottom-button {
    background-color: #1AAD19;
    color: #fff;
    font-size: 18px;
    border: none;
    height: 50px;
    width: 100%;
  }

  .bottom-a {
    margin-top: 10px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    background-color: #fff;
  }
  .ba-a {
    height: 50px;
    color: #333333;
    font-size: 16px;
    background-color: #fff;
    line-height: 50px;
  }
  .pay-item {
    height: 50px;
    box-sizing: border-box;
    @include flex(row, nowrap, space-between, center);
    font-size: 16px;
    color: #333333;
  }
  .pi-left {
    @include flex(row, nowrap, flex-start, center);
  }
  .pi-right {
    height: 24px;
    width: 24px;
    margin-right: 20px;
  }
  .pay-icon {
    height: 24px;
    width: 27px;
    margin-right: 13px;
  }

  .we-pay-middle-bottom {
    margin-top: 10px;
    padding: 0 10px;
    height: 59px;
    background-color: #fff;
    border-top: 1px solid #DCDCDC;
    padding-top: 10px;
    box-sizing: border-box;
    @include flex(column, nowrap, center, flex-start);
  }
  .wpmb-a {
    font-size: 12px;
    color: #999999;
  }
  .wpmb-b {
    @include flex(row, nowrap, flex-start, center);
  }
  .price-head {
    font-size: 16px;
    color: #666666;
  }
  .price-body {
    font-size: 18px;
    color: #FF4E00;
    margin-left: 5px;
  }

}

