@import "../static/scss/common";

.uni-pay-container {
  @extend .container-common;
  background-color: #F2F2F2;
  overflow: hidden;
  .empty {
    text-align: center;
    margin-top: 50px;
  }
  .text {
    font-size: 16px;
    text-align: center;
  } 
}

