node_modules/babel-core/
node_modules/babel-loader/
node_modules/babel-polyfill/
node_modules/babel-preset-es2015/
node_modules/babel-preset-react/
node_modules/babel-preset-stage-0/
node_modules/bell-on-bundler-error-plugin/
node_modules/babel-plugin-import
node_modules/css-loader/
node_modules/es6-promise
node_modules/isomorphic-fetch
node_modules/node-sass
node_modules/react
node_modules/react-dom
node_modules/react-redux
node_modules/react-router
node_modules/redux
node_modules/redux-logger
node_modules/redux-thunk
node_modules/sass-loader
node_modules/style-loader
node_modules/webpack
node_modules/webpack-dev-server