@import '../../scss/common';

.equ-area {
  @include flex(row, wrap, flex-start, center);

  background-color: #fff;

  .equ-item {
    @include flex(row, nowrap, flex-start, center);
    //margin-bottom: 10px;
    margin-right: 10px;
    line-height: 30px;
  }
  .ei-img {
    height: 15px;
    width: 15px;
  }
  .ei-text {
    font-size: 14px;
    color: #666;
    margin-left: 5px;
  }
}

