.active_bg {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    overflow:hidden;
    .bg_top,.bg_bottom {
        width: 100%;
        position: absolute;
        z-index: 1;
        font-size: 0;
        img {
            max-width: 100%;
        }
    }
    .bg_top {
        top: 0;
        left: 0;
    }
    .bg_bottom {
        bottom: 0;
        right: 0;
    }
    .container {
        z-index: 2;
        position: relative;
    }
}
.slogan {
    text-align: center;
    margin-top: 50px;
}
.couponlist {
    ul {
        font-size: 0;
        li {
            font-size: 12px;
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            padding: 10px;
            vertical-align: top;
            .couponItem {
                background-size: 100% 100%;
                padding: 10px 15px 17px 15px;
                box-sizing: border-box;
                .text {
                    font-size: 0px;
                    .money,.info {
                        font-size: 12px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .money {
                        font-size: 25px;
                        width: 40%;
                        color: #FF004A;
                        font-weight: bold;
                    }
                    .info {
                        width: 60%;
                        
                        .time {
                            color: #EE9600;
                        }
                        .bewrite {
                            font-size: 15px;
                            color: #000;
                        }
                    }
                }
                .receive {
                    text-align: center;
                    button {
                        border: none;
                        color: #fff;
                        width: 90px;
                        height: 25px;
                        background: none;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
.bewrite,.rule {
    .title {
        display: inline-block;
        color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3px 34px;
        font-size: 16px;
    }
    .text {
        font-size: 15px;
        box-sizing: border-box;
        padding: 0 10px;
        color: #666666;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
