.facilities_icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.maojin {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-mao%20jin.png);
    }
    &.yashua {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-ya-shua.png);
    }
    &.yiyao {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-yi-yao.png);
    }
    &.yugang {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-yu-gang.png);
    }
    &.xiyiji {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-xi-yi.png);
    }
    &.cuifeng {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-cui-feng.png);
    }
    &.xishouye {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-xi%20shou%20ye.png);
    }
    &.xingli {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-xing-li.png);
    }
    &.zaocan {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-zao-can.png);
    }
    &.linyu {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-lin-yu.png);
    }
    &.wifi {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-wifi.png);
    }
    &.muyulu {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-mu-yu-lu.png);
    }
    &.tingche {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-P.png);
    }
    &.kongtiao {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-kong-tiao.png)
    }
    &.dayinji {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-fu-yin.png);
    }
    &.jiaoxin {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-jiao-xing.png);
    }
    &.jiesong {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-jie-song.png);
    }
    &.canting {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-can-ting.png);
    }
    &.dianshi {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-dain-shi.png);
    }
    &.coffee {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-cha--shi.png);
    }
    &.diannao {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-dian-nao.png);
    }
    &.batai {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-qian-tai.png);
    }
    &.tuoxie {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-tuo-xie.png);
    }
    &.chuanghu {
        background-image: url(http://oi9d1dmyt.bkt.clouddn.com//theme/one/style_one/facilities-chuang-hu-.png);
    }
}