@import '../../static/scss/common';

.is-ulive-member {
  .top {
    padding-top: 79px;
    font-size: 17px;
    @include flex(column, nowrap, center, center)
  }
  .middle {
    width: 100%;
    @include flex(row, nowrap, center, center);
    padding-top: 40px;
  }
  .m-btn {
    height: 45px;
    width: 80%;
    border: none;
    background-color: #4969F1;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
  }
  .bottom {
    padding-left: 10%;
    font-size: 12px;
    color: #999999;
    padding-top: 13px;
  }
}