.rule_name {
    font-size: 14px;
    .rule {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .line {
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        color: #444;
    }
    .title {
        font-size: 20px;
        text-align: center;
    }
}