@import "../scss/common";

.my-container {
  @extend .container-common;
  height: auto!important;
  min-height: 100%;
  background-color: #F2F2F2;

  .top {
    height: 190px;
    background-color: #4994F1;
    @include flex(row, nowrap, center, center);
    box-sizing: border-box;
    padding: 0 31px;
  }
  .top-b {
    @include flex(column, nowrap, space-between, center);
    color: #fff;
  }
  .mb-sp {
    margin-left: 11px;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #DCDCDC;
  }
  .tb-a {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 1px solid #4969f1;
    @include flex(row, nowrap, center, center);
  }
  .tba-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .middle>div {
    margin-top: 10px;
  }
}

