.success_page {
    min-height: 100%;
    background-color: #efefef;
    font-size: 16px;
    .success {
        text-align: center;
        padding: 40px 0;
        box-sizing: border-box;
        background-color: #fff;
        margin-bottom: 20px;
        border-bottom: solid 1px #ddd;
        img {
            width: 50px;
        }
    }

    .more-service {
        .ms-top {
        margin-top: 10px;
        background-color: #fff;
        height: 49px;
        line-height: 49px;
        box-sizing: border-box;
        padding-left: 15px;
        font-size: 16px;
        color: #ff7510;
        }
        .ms-bottom {
        /*height: 98px;*/
        background-color: #fff;
        margin-top: 1px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: distribute;
        justify-content: flex-start;
        padding: 15px 15px;
        box-sizing: border-box;
        }
        .tnb-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #333;
        font-size: 15px;
        }
        @media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
        .tnb-img {
            height: 62px!important;
            width: 62px;
        }
        }
        .tnb-img {
        height: 72px!important;
        width: 72px;
        }

        .success_icon {
            width: 40px;
            height: 40px;
        }
        .description {
            display: flex;
            padding-left: 20px;
            /* align-items: center; */
            font-size: 17px;
            color: #9e9e9e;
            padding-top: 24px;
        }
        .description a {
            color: #9e9e9e;
        }
    }
}