@import "../scss/common";

.rooms-container {
  @extend .container-common;
  height: auto!important;
  min-height: 100%;
  background-color: #F2F2F2;

  .room-piece-container {
    position: relative;
    margin: 10px 0;
  }
  .price-container {
    position: absolute;
    right: 10px;
    top: 16px;
  }
  .pc-top {
    width: 61px;
    height: 37px;
    background-color: #FF5000;
    color: #fff;
    text-align: center;
    line-height: 37px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .pc-bottom {
    width: 61px;
    height: 33px;
    background-color: #fff;
    color: #FF5001;
    border: 1px solid #FF5001;
    box-sizing: border-box;
    text-align: center;
    line-height: 33px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .price-sign {
    font-size: 15px;
  }
  .price-price {
    font-size: 16px;
  }

  .date-container {
    @include flex(row, nowrap, space-around, center);
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #fff;
    height: 50px;
    margin: 10px;
    position: relative;
    border: solid 1px #e4e4e4;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 80%;
      background: #999;
      position: absolute;
      left: 50%;
      top: 10%;
      z-index: 1;
    }
    .start-date, .end-date, .num-date {
      text-align: center;
      .explain-text {
        font-size: 12px;
        color: #999;
      }
      .date-ins {
        margin: 0 3px;
        font-size: 13px;
        color: #ff9e05;
      }
      .count-text {
        color: #555;
        position: relative;
        z-index: 2;
        background-color: #fff;
      }
    }
  }
  
  .sign {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-width: 2px 2px 0 0;
    border-color: #B2B2B2;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  }

  .navs {
    a {
      text-decoration: none;
    }
    .hotel_facilities {
      .more {
          display: inline-block;
          vertical-align: middle;
      }
      .facilities_icon {
          margin-right: 10px;
          vertical-align: middle;
      }
    }
  }

  .starts {
    .iconfont {
      color: #23beae;
      margin-right: 2px;
    }
  }
}

